$body-bg: #181818;
$body-color: #e6e6e6;

$primary: #36904e;
$table-color: #e6e6e6;

$container-max-widths: (
  sm: 540px,
  md: 620px,
  lg: 760px,
  xl: 940px,
  xxl: 1320px,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

.bi {
  font-size: 1rem;
}

.url-link {
  font-style: italic;
}

.url-link:hover {
  color: $primary;
  cursor: pointer;
  text-decoration: underline;
}

.title-text {
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  -webkit-text-stroke-color: $primary;
  font-weight: 600;
}

a.nav-link:hover {
  cursor: pointer;
}

.red-btn {
  color: red;
}

.blue-btn {
  color: rgb(38, 143, 213);
}

.dropdown-item:hover {
  background-color: $primary;
}
