.bi {
  font-size: 1rem;
}

.url-link {
  font-style: italic;
}

.url-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title-text {
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 600;
}

a.nav-link:hover {
  cursor: pointer;
}

.red-btn {
  color: red;
}

.blue-btn {
  color: rgb(38, 143, 213);
}